<!doctype html>
<html ng-app="reabManApp">

<head>
    <title>Reab Manager</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <script src="scripts/data.js"></script>
</head>

<body ng-controller="PatientListController">
    <div class="divList">
        <div><b>Patients:</b></div>
        <ul>
            <li ng-repeat="pct in patients" ng-click="selectPatient(pct.id);"> {{pct.name}} {{pct.lastName}}</li>
        </ul>
    </div>
    <div class="divform">
        <b>Patient Details:</b><br />
        <form>
            <div class="divFormItem"><label class="formLabel">Name:</label><input type="text" name="currPct.name" ng-model="currPct.name" /></div>
            <div class="divFormItem"><label class="formLabel">Last Name:</label><input type="text" name="currPct.lastName" ng-model="currPct.lastName" /></div>
            <div class="divFormItem"><label class="formLabel">Responsible:</label><input type="text" name="currPct.responsible" ng-model="currPct.responsible" /></div>
            <div class="divFormItem"><label class="formLabel">Address:</label><textarea name="currPct.address" ng-model="currPct.address"></textarea></div>
            <div class="divFormItem"><label class="formLabel">Phone Number:</label><input type="text" name="currPct.phone" ng-model="currPct.phone" /></div>
            <div class="divFormItem"><label class="formLabel">eMail Address:</label><input type="email" name="currPct.email" ng-model="currPct.email" /></div>
            <div class="divFormItem"><label class="formLabel">First Appointment:</label><input type="text" name="currPct.firstAppointment" ng-model="currPct.firstAppointment" /></div>
            <div class="divFormItem"><label class="formLabel">Last Appointment:</label><input type="text" name="currPct.lastAppointment" ng-model="currPct.lastAppointment" /></div>
            <div>
                <input type="button" title="Save" value="Save">
                <input type="button" title="Cancel" value="Cancel" ng-click="selectPatient();">
            </div>
        </form>
    </div>
    <div>
        <ul>
            <lh>To Do:</lh>
            <li>Mascaras</li>
            <li>Validacoes</li>
        </ul>
    </div>
</body>

</html>
