ul {
    list-style-type: none;
}

li {
    background: white;
}

li:nth-child(odd) {
    background: gray;
    color: white;
}

lh {
  font-weight: bolder;
}

input[type="text"] {
    width: 300px;
}

input[type="email"] {
    width: 300px;
}

textarea {
    width: 300px;
}

.formLabel {
    width: 150px;
    margin-left: 5px;
    display: inline-block;
}

.divform {
    border-style: solid;
    border-width: 1px;
    border-color: gray margin-bottom: 3px;
    padding: 5px;
}

.divList {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-bottom: 3px;
    padding: 5px;
}

.divFormItem {
    margin-bottom: 3px;
}
